@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Inter:wght@300&display=swap');

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

*{
  margin: 0;
  padding: 0;
}

.footer {
  font-family: 'Bitter',sans-serif;
  height: var(--tamanho-footer);
  background-color: #080411;
}

.footer h4 {
  color: #bc99fd;
  margin: 0;
  padding: 0;
}

.footer .container {
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

h3{
  color: azure;
}

.contato{
  color: azure;
  display: flex;
  gap: 30px;
  align-items: center;
}

.telefone,
.email{
  display: flex;
  align-items: center;
  gap: 5px;
}