@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Inter:wght@300&display=swap');



.btn-nav-white{
  font-family: 'Exo 2', sans-serif;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.texto{
  font-family: 'Exo 2', sans-serif;
  height: 20vh;
  text-align: center;
  color: azure;
}

.welcome{
  color: #db9a45;
  font-family: 'Bitter', sans-serif;
  font-size:xx-large;
}

.hello{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
}

.hello h3{
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span{
  font-weight: 800;
}

.quiz{
  height: 60vh;
  color: azure;
  font-family: 'Exo 2', sans-serif;
  background-color: #3d3d3d;
  box-shadow: #db9a45 0 0 10px -1px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

.frase{
  font-family: 'Exo 2', sans-serif;
  height: 20vh;
  text-align: center;
  color: azure;
}

#frase{
  color: #db9a45;
  font-size: large;
}

.questionario{
  display: flex;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
}


.btn-left{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  border-radius: 2px;
}

.btn-right{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  border-radius: 2px;
}

.button{
  margin-top: 5%;
  height: 60px;
  background-color: #bca2f8;
  border: none;
  border-radius: 7px;
}

.button1{
  height: 60px;
  background-color: #bca2f8;
  border: none;
  border-radius: 7px;
}

.button:hover{
  background-color: #db9a45;
}

.confirmar:hover{
  background-color: #db9a45;
  color: azure;
}

#confirmar{
  width: 15%;
  align-self: center;
  border: 2px #db9a45 solid;
  border-radius: 2px;
}

.hide{
  display: none;
}

.pontuacao{
  height: 30vh;
  color: azure;
  font-family: 'Exo 2', sans-serif;
  background-color: #3d3d3d;
  box-shadow: #db9a45 0 0 10px -1px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  width: 50%;
  align-items: center;
  gap: 5px;
}

.pontuacao .texto{
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.btn-final{
  border-radius: 8px;
  border: none;
  transition: 100ms;
}

.btn-final:hover{
  background-color: #db9a45;
  width: 85%;
  transition: 100ms;
}