@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Inter:wght@300&display=swap');

body{
  font-family: 'Inter', sans-serif;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}


.banner {
  height: var(--tamanho-banner);
  background-image: url('../assets/imgs/background-index.svg');
  background-size: cover;
  height: 100vh;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  font-size: 40px;
  color: white;
  width: 280px;
  font-family: 'Bitter', sans-serif;
}

.banner .container span {
  color: #bc99fd;
}


.banner2{
  width: 100%;
  height: 70vh;  
  display: flex;
  background-image: linear-gradient(black 60%,azure);
}

.banner2 .container{
  justify-content: center;
  align-items: center;
  height: 95%;
  border: rgb(141, 127, 127) 1px solid;
  border-radius: 20px;
  box-shadow: 0px 0 15px 1px blueviolet;
  background-color: #080411;
}

.boxes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 0;
}

.box{
  font-weight: bold;
  height: 20vh;
  text-align: center;
  font-size:small;
  font-family: 'Inter', sans-serif;
  color: azure;
  align-items: center;
  padding: 0 5vw;
}

.box h2{
  margin: 1% 0 1% 0;
  font-family: 'Bitter', sans-serif;
  color: #db9a45;
  font-weight: 800;
}


.social {
  background-image: linear-gradient(azure 70% , black);
  display: flex;
  flex-direction: row;
}

.social .container {
  justify-content: center;
  height: 100vh;
}

.social .container .saiba-mais{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.social .container .box img {
width: 100px;
}

.social .container .boxes {
display: flex;
justify-content: space-around;
width: 100%;
}

.social .container .box {
width: 280px;
height: 450px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}

.social .container .box h4{
  color: #db9a45;
  font-weight: 800;
}

.social .container .box p {
text-align: center;
color: black;
}

.saiba-mais{
  width: 100%;
}

.saiba-mais .item{
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}

.saiba-mais .item h2{
  color: #db9a45;
}



