@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Inter:wght@300&display=swap');

body{
  font-family: 'Inter', sans-serif;
  background: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}


h1{
  cursor: default;
}

h4{
  cursor: default;
}

h2{
  cursor: default;
}

p{
  cursor: default;
}

span{
  cursor: default;
}
/**** Principal ****/

.banner {
  height: var(--tamanho-banner);
  background-image: url('../assets/imgs/background-index.svg');
  background-size: cover;
  height: 115vh;
}

.banner .container {
  justify-content: end;
  align-items: center;
  height: 100%;
}

.banner .container p {
  font-size: 40px;
  color: white;
  width: 280px;
  font-family: 'Bitter', sans-serif;
}

.banner .container span {
  color: #bc99fd;
}

/**** Principal ****/


/* ---------------------------- */


/**** Projeto ****/
.projeto{
  height: 80vh;
}

.projeto h2{
  font-family: 'Bitter', sans-serif;
  color: #db9a45;
  font-weight: 800;
  font-size: 35px;
}

.projeto .container{
  color: azure;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row-reverse wrap;
  width: 100%;
}

.texto{
  width: 60%;
}

#logo{
  font-family: 'Bitter',sans-serif;
  color: azure;
}

.texto2{
  width: 100%;
  height: 10vh;
  margin-left: 3vw;
  font-size: 22px;
  font-family: 'Inter', sans-serif;
}

.texto2 .cadastrar{
  text-align: center;
  font-size: 30px;
}

.projeto .texto p{
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}

.projeto span{
  font-weight: 800;
  font-size: 25px;
  color: #db9a45;
}

.projeto img{
  height: 47vh; 
  width: 34vw; 
  box-shadow: 0 0 4px 0.5px rgb(255, 255, 255);
  border-radius: 2px 15%;
}
/**** Projeto ****/


/* ---------------------------- */


/**** Benefícios ****/

.beneficios{
  width: 100%;
  height: 100vh;  
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(black 90%, azure);
  padding-bottom: 55px;
}

.beneficios .container{
  justify-content: center;
  align-items: center;
  height: 95%;
  border: rgb(141, 127, 127) 1px solid;
  border-radius: 20px;
  box-shadow: 0px 0 15px 1px blueviolet;
  background-color: #080411;
}

.boxes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 0;
}

.box{
  font-weight: bold;
  height: 20vh;
  text-align: center;
  font-size: large;
  font-family: 'Inter', sans-serif;
  color: azure;
  align-items: center;
  padding: 0 5vw;
}

.box h2{
  margin: 1% 0 1% 0;
  font-family: 'Bitter', sans-serif;
  color: #db9a45;
  font-weight: 800;
}

.cadastrar{
  text-align: center;
  display: flex;
  margin-top: 4vh;
  height: 8vh;
  justify-content: center;
  align-items: center;
}

.cadastrar .texto{
  box-shadow: 0px 0 8px 1px #000000;
  color: black;
  background: azure;
  border-radius: 9px;
  height: 63%;
  font-weight: 800;
  flex-wrap: nowrap;
}

/**** Benefícios ****/


/* ---------------------------- */


/**** Celebridades ****/

.celebridades {
  background-image: linear-gradient(azure 94% , black);
  display: flex;
  flex-direction: column;
}

.celebridades .container {
  justify-content: center;
  height: 100vh;
}

.celebridades .saiba-mais{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.celebridades img {
  width: 100px;
}

.celebridades .boxes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 2vw;
  margin-top: -20px;
}

.celebridades .box {
  width: 280px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 4px 1px rgb(100, 100, 100);
  border-radius: 10px;
  color: #e0e0e0;
}


.celebridades h4{
  color: #db9a45;
  font-weight: 800;
  font-size: 5vh;
  font-family: 'Bitter',sans-serif;
}

.celebridades p {
  text-align: center;
  color: black;
}

/**** Celebridades ****/


/* ---------------------------- */


/**** saiba mais ****/

.saiba-mais{
  width: 100%;
  margin-bottom: 5vh;
}

.saiba-mais .item{
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}

.saiba-mais h2{
  font-family: 'Bitter',sans-serif;
  color: #db9a45;
}

/**** saiba mais ****/


/* ---------------------------- */


/**** scrollbar ****/

html ::-webkit-scrollbar {
  width: 10px;
  background: #080411;
}

html ::-webkit-scrollbar-thumb {  
  color:#080411;
  background: azure;
  border-radius: 3px;
}

/**** scrollbar ****/


