@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Inter:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-image: url(../imgs/background-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box-cadastro {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: rgba(27, 26, 26, 0.99);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    color: white;
    font-size: 27px;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 698px;
    justify-content: center;
    gap: 52px;
    box-shadow: 10px 0 25px 15px #130e1f;
}

.input{
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 20px;
    height: 31px;
    text-align: center;
    width: 371px;
    border-bottom: 2px white solid;
    background-color: rgba(27, 26, 26, 0.99);
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: inherit;
    font-family: 'Inter', sans-serif;
}

h2{
    font-size: 60px;
}

.botao{
    width: 49%;
    height: 46px;
    border-radius: 20px;
    align-self: center;
    font-size: 21px;
    font-weight: bolder;
}





