@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.logo-header{
    width: 80px;
}

h1{
    font-size: 45px;
    color: #d9e1e7;
    margin-right: 700px;
    font-family: 'Bitter', serif;
}

header{
    display: flex;
    background-color: #080411;
    width: 100%;
    height: 100px;
    top: 0;
    position: absolute;
    border-bottom: 2px #21173a solid;
}

header .container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 5%;
}

header .container-header .navbar li,
header .container-header .navbar{
    display: inline;
    list-style: none;
    justify-content: flex-end;
    padding: 0 20px;
    font-size: 18px;
    color: #d9e1e7;
    cursor: default;
}

header .container-header .navbar li a{
    text-decoration: none;
    color: #d9e1e7;
    font-size: 18px;
}

header .container-header .navbar li .login{
    font-family: 'Bitter', serif;
}


header .container-header .navbar li a:hover{
    color: #d3c4f8;
    transition: 1s;
}

#separacao_navbar{
    cursor: default;
}





