@font-face{
    font-family: Bitter Bold;
    src: local(Bitter Bold) url(../assets/fonts/Bitter-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Bitter Bold;
    scroll-behavior: smooth;
}

body{
    
    background-image: url(../imgs/background-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



